.container {
  width: 80%;
  margin: auto;
}

.aware-heading {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
  color: black;
}

.articles-container {
  margin-bottom: 15px;
}

.article {
  display: grid;
  grid-template-columns: 60% 40%; /* Adjust the columns to allocate more space for the image */
  overflow-y: auto;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 3px 1px #333333;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.description {
  margin-top: 0;
}

.title {
  margin-bottom: 0;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the image in the container */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  padding: 20px; /* Add padding to give more space to the image */
}

.image img {
  width: 80%; /* Ensure the image takes the full width of the container */
  height: 80%; /* Maintain the aspect ratio of the image */
  border-radius: 8px;
}
